/*
orange
#fc4f00

dark blue
#043159

light blue
#0d5fa6


dark gray
#565969

light gray
#c1ced9

title h1
paragraph h2
buttons h3
nav h4
tiny text h5
h6 small titles
*/


h1 {
  font-family: yantramanav, sans-serif;
  font-weight: 800;
  font-size: 90px;
}

h2 {
  font-family: open-sans, sans-serif;
  font-weight: 100;
  font-size: 20px;
  line-height: 1.5;
}

h3 {
  font-family: yantramanav, sans-serif;
  font-weight: 200;
  font-size: 22px;
}

h4 {
  font-family: yantramanav, sans-serif;
  font-weight: 500;
  font-size: 20px;
}

h6 {
  font-family: yantramanav, sans-serif;
  font-weight: 400;
  font-size: 50px;
}

.faded {
  color: #565969;
  font-weight: 400;
}


#social-bar {
  height: 40px;
  background-color: #fcfcfc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}

.social-icons img {
  width: 20px;
  height: 20px;
  padding: 10px;
}


nav {
  height: 60px;
  display: flex;
  flex-direction: row;
}

nav div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 275.29px;
  border: 1px solid rgb(112,112,112, 0.16);
}

nav div h4 {
  transition: 0.2s;
  color: #043159;
}
nav div h4:hover {
  color: #fc4f00;
}

nav div img {
  height: 125px;
}

#selected {
  color: #fc4f00;
}


#banner {
  background-image: url("/bbn/assets/Canva - Engineers at House Construction.png");
  background-size: cover;
  height: 700px;
}

#shader {
  position: absolute;
  height: 700px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

#ban-text {
  position: relative;
  width: 500px;
  padding: 125px 300px;
  z-index: 2;
}

#ban-text h1 {
  color: #0d5fa6;
  padding-bottom: 20px;
}

#ban-text h2 {
  color: #fff;
  padding-bottom: 15px;
}

#ban-buttons .ban-button {
  display: inline-block;
  padding: 15px 25px;
  margin-right: 15px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.2s;
}

.ban-button:hover {
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.2);
}
.ban-button-1 {
  background-color: #fff;
  color: #043159;
}

.ban-button-2 {
  background-color: #fc4f00;
  color: #fff;
}

#services {
  margin: 75px 300px;
  height: 1000px;
}

#services-content-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

#services h1 {
  color: #043159;
}

.serv-box {
  display: inline-block;
  width: 500px;
  height: 500px;
  margin: 20px;
}

.serv-box-text {
  text-align: center;
  border: 1px solid rgb(112,112,112, 0.15);
  border-bottom: 3px solid #fc4f00;
}

.text-container {
  height: 500px;
  margin: 60px 20px;
}

.serv-box h6 {
  color: #043159;
  margin-bottom: 20px;
}

.serv-box h2 {
  color: #565969;
}


.serv-box-img img {
  width: 500px;
  height: 500px;
}

.plus {
  background-color: #fc4f00;
  width: 40px;
  height: 40px;
  margin: 40px auto;
}

.plus img {
  width: 40px;
  height: 40px;
}
