
html, body {
  height: 150%;
  scroll-behavior: smooth;
}

#banner {
  width: 100%;
  font-family: montserrat,sans-serif;
  font-weight: 200;
  font-style: normal;
  height: 700px;
}


#bannerback {
  position: absolute;
  width: 100%;
  height: inherit;
  background: #1FA2FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #68A2F8, #A2CCF4, #60C6FE);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* transform: skewY(-8deg); */
  transform-origin: 0;
  top:0;
  left:0;
  border-radius: 5px;
}


#navroot {
  max-width: 1040px;
  margin: 0 auto;
  position: relative;
}

#logo {
  display: inline;
  margin: 0 10px;
  cursor: pointer;
  display: inline;
  font-size: 30px;
  color: white;
}

#navcont {
  width: 100%;
  height: 100px;
  margin: 10px 0;
}

.navelem {
  display: inline;
  font-size: 20px;
  font-weight: 600;
  float: right;
  color: white;
  margin: 0 30px;
  cursor: pointer;
}


#bannercontent {
  position: relative;
  color: white;
  margin: 0 auto;
  max-width: 1040px;
}

#bannercontent h1 {
  max-width: 600px;
  font-weight: 200;
  font-size: 40px;
  margin-bottom: 50px;
}

#bannercontent h3 {
  max-width: 500px;
}

#checkboxcont {
  display: flex;
  text-transform: uppercase;
}

.checkbox {
  background-color: #fff;
  text-align: center;
  color: #4B79A1;
  margin-right: 10px;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: .025em;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  -webkit-transition: all .15s ease;
  border-radius: 4px;
  transition: all .15s ease;
  font-family: montserrat,sans-serif;
  font-weight: 800;
  font-style: normal;
  text-rendering: optimizeLegibility;
  cursor: pointer;
}

.check1 {
  background-color: #005AA7;
  color: #fff;
}

.check2 {
  font-family: sarina,sans-serif;
  font-weight: 800;
  font-style: normal;
}

.checkbox:hover {
  box-shadow: 0 5px 10px rgba(50,50,93,.2), 0 1px 3px rgba(0,0,0,.1);
}



#strat-cont {
  max-width: 1040px;
  margin: 0 auto;
  height: 600px;
}

#strat-cont h1 {
  float: right;
  margin: -100px 0;
  font-size: 50px;
  color: #999;
  font-family: montserrat,sans-serif;
  font-weight: 100;
}

#strat-cont p {
  font-family: acumin-pro,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  width: 50%;
  color: #414345;
}


#steps-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.steps {
  width: 300px;
  height: 325px;
  /* background-color: #f6f9fc; */
  border-width: 1px;
  border-style: solid;
  border-color: rgb(223, 231, 239);
  border-image: initial;
  border-radius: 4px;
  font-family: fira-sans,sans-serif;
  font-weight: 600;
  font-style: normal;
  transition: all .15s ease;
}

.steps:hover {
  box-shadow: 0 5px 10px rgba(50,50,93,.2), 0 1px 3px rgba(0,0,0,.1);
}

.step-head {
  background: #f12711;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 20px 0;
  color: #fff;
  font-size: 30px;
  text-align: center;
  border-bottom-color: rgb(203, 231, 239);
  transition: all .3s ease;
}

.steps:hover .step-head {
  padding: 10px;
}

.step1 .step-head {
  background: #f12711;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.step2 .step-head {
  background: #4AC29A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.step3 .step-head {
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.step-content {
  font-family: fira-sans,sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #444;
  font-size: 22px;
  padding: 20px;
}
